<section class="index-page">
  <p class="success">
    You have been successfully logged in!
  </p>
  <h2>Hello, {{ userName }}</h2>
  <img src={{ image }}  alt={{ username }} class='avatar' />
  <a class="loginBtn" href='/auth/auth.logout'>
    Logout
  </a>
</section>